.dat {
    display: grid;
    border: 2px solid beige;
    grid-template-columns: 1.4fr 0.8fr;
    grid-template-rows: 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
    grid-template-areas:
        "cart-item cart-summary";
}

.cart-item {
    grid-area: cart-item;
}

.cart-summary {
    grid-area: cart-summary;
}

.product-details {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
    gap: 0px 2px;
    grid-template-areas:
        "img dato";
}

.cart-item {
    margin-right: 20px;
    border: 2px solid beige;
    padding: 20px;
}

.cart-summary {
    border: 2px solid beige;
    padding: 20px;
    font-size: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}